/**
Fuentes:
font-family: 'Cabin Sketch', cursive;
font-family: 'Syncopate', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Paytone One', sans-serif;
 **/

body{
	background-color:#000;
}
#cuerpo{
	position:absolute;
	//border:solid 2px #fff;
	padding-bottom:1%;
	padding-left:2%;
	padding-right:2%;
	width:95%;
}
#mainHeader{
	color:#bc23a1;
	font-family: 'Cabin Sketch', cursive;
	font-size:80px;
	display:block;
	//border:solid 2px #fff;
	position:relative;
	width:90%;
	left:2%;
	margin:auto;
	padding-bottom:2%;
}
#mainSection{
	display:block;
	position:relative;
	//border:solid 2px #fff;
	width:81%;
	left:10%;
}
#form_admiracion{
	position:relative;
	//border:solid 2px #fff;
	width:61%;
	left:31%;
}
#deseo{
	color:#000;
	display:block;
	position:relative;
	border:solid 2px #fff;
	top:-80px;
	left:9%;
	width:150%;
	border-top:none;
	border-left:none;
	border-right:none;
	//border-bottom:solid 2px #blue;
	background-color:#fff;
	font-family: 'Paytone One', sans-serif;
	font-size:20px;
	padding:10px;
}

#admiracion{
	display:block;
	position:relative;
	top:-80px;
	//border:solid 2px #fff;
	left:950%;
}
#ted{
	display:block;
	position:relative;
	//border:solid 2px #fff;
	left:5%;
}
#mainFooter{
	display:block;
	color:#2abd23;
	font-family: 'Cabin Sketch', cursive;
	font-size:30px;
	position:relative;
	//border:solid 2px #fff;
	width:80%;
	padding-top:3%;
	left:10%;
}
#uam{
	display:block;
	position:relative;
	//border:solid 2px #fff;
	left:50%;
}
#ometli{
	display:block;
	position:relative;
	//border:solid 2px #fff;
	left:100%;

}
#github{
	display:block;
	position:relative;
	//border:solid 2px #fff;
	left:85%;
}
#ceuamilabs{
	display:block;
	position:relative;
	//border:solid 2px #fff;
	top:0px;
	left:105%;
}
#texto{
	display:block;
	position:relative;
	//border:solid 2px #fff;
	top:20px;
	left:35%;
}
#facebook{
	display:block;
	position:relative;
	//border:solid 2px #fff;
	left:355%;
}
#twitter{
	display:block;
	position:relative;
	//border:solid 2px #fff;
	left:425%;
}
